# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Environment Variables
.env

# Database
database/*.db

# Machine Learning
ml/*.pkl

# Logs
logs/*.json

# macOS
.DS_Store

# VS Code
.vscode/